<template>
  <div>
    <div>
      <GmapAutocomplete
        @place_changed='setPlace'
      />
      <button
        @click='addMarker'
      >
        Add
      </button>
    </div>
    <br>
    <GmapMap
      :center='center'
      :zoom='5'
      style='width:100%;  height: 550px;'
    >
      <GmapMarker
        :position="center"
      />
    </GmapMap>
  </div>
</template>

<script>
export default {
  name: 'GoogleMap',
  data() {
    return {
      center: { lat: 20.5937, lng: 78.9629 },
      currentPlace: null,
      places: [],
    }
  },
  methods: {
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng(),
        };
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
  },
};
</script>

<style>
.pac-target-input {
  height: 20px !important;
  width: 40%;
}
button {
  height: 25px !important;
  margin-left: 5px;
}
</style>